            <div class="alert alert-success">
                <strong>We have winners! Please come find Ken (email: ken@ipl31.net) in Labs to claim your prizes! 
                    <li>1st place: golden</li>
                    <li>2nd place: jackal</li>
                    <li>3rd place: i3602u</li>
                </strong>
            </div>
            <div class="alert alert-danger">
                <p>
                <strong><li>The contest is over but we will leave the app running and accepting submissions</li>
                    <li>We have tons of AA batteries in Labs, come getem</li></strong>
                </p>
            </div>
