<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Warbadge.ninja Shmoocon 2018</title>
 
 
    <link href="https://warbadge.ninja/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="https://warbadge.ninja/css/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                </ul>
            </nav>
            <h3 class="text-muted">Warbadge.ninja - Shmoocon 2018</h3>
        </div>
        {% inlcude 'alert.html' %}
 
        <div class="jumbotron">
            <h1>Would you like to play a game? Come to Shmoocon Labs in Monroe and get your badge flashed for warbadging</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="/scoreboard" role="button">Leaderboard</a>
            <p><a class="btn btn-lg btn-success" href="/stats" role="button">Contest Statistics</a>
            </p>
            </p>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Bulletin!</h4>
                <p>If your badge is flashed for Warbadge and you get two blue LEDs please power cycle. BBOD (Blue badge of death)</p>
 
                <h4>WAT?</h4>
                <p>Warbadging is a warwalking/netstumbler game. Report the most access points to win</p>
 
                <h4>Who?</h4>
                <p>A shmoocon labs production.Idea, design and implementation credits:Matt, Ken, Btm, Effffn, Terry</p>
            </div>

            <div class="col-lg-6">
             <div>
                <h4>How?</h4>
                <p>Bring your badge to labs. We flash it with the warbadge micropython image.</p>
            </div>
            <div> 
                <h4>Code?</h4>
                <p>Code is on <a href="https://github.com/robotlandman/warbadge">Github</a></p>
            </div>
            <div> 
                <h4>Moose?</h4>
                <p>TBD</p>
            </div>

            <div>
                <h4>Why?</h4>
                <p>For great justice</p>
 
            </div>
        </div>
 
 
        <footer class="footer">
            <p>&copy; Warbadging.ninja 2018</p>
        </footer>
 
    </div>
</body>
 
</html>
